li:hover > .drop-menu.menu-4 {
  perspective: 900px;
  li {
    opacity: 0;
    animation: {
      name: style4;
      fill-mode: forwards;
      timing-function: ease-in-out;
    }
  }
  @for $i from 1 through 6 {
    li:nth-child(#{$i}){
      // animation-delay: ($i - 1) * .3s;
      animation-delay: (150ms * $i) - 300;
      animation-duration:  .3s;
    }
  }
}

@keyframes style4 {
  0% {
    opacity: 0;
    transform: scale(0.3)  translateY(-60px);
  }
  80% {
    transform: scale(1.2)  translateY(10px);
  }
  100% {
    transform: scale(1) translateY(0px);; 
    opacity: .9;
  }
}
