li:hover > .drop-menu.menu-3 {
  perspective: 900px;
  li {
    opacity: 0;
    animation: {
      name: style3;
      fill-mode: forwards;
      timing-function: ease-in-out;
    }
  }
  @for $i from 1 through 6 {
    li:nth-child(#{$i}){
      // animation-delay: ($i - 1) * .3s;
      animation-delay: (150ms * $i) - 300;
      animation-duration:  .3s;
    }
  }
}

@keyframes style3 {
  0% {
    opacity: 0;
    transform: rotateY(-90deg) translateY(-30px);
  }
  30% {
    opacity: .9;
  }
  100% {
    transform: rotateY(0deg) translateY(0px);; 
    opacity: .9;
  }
}
